<header>
  <div class="container">
    <img class="logo" src="téléchargement (1).jpeg" alt="Logo" />
    <h1 class="text-center text-primary font-weight-bold fs-1 mt-4">Connect with the Future </h1>


    <div class="button-container">
      <button class="btn btn-primary" (click)="navigateToHome()">Home</button>
      <button class="btn btn-primary" (click)="navigateToSignIn()">Sign In</button>  <!-- This will call the navigateToSignIn method -->
      <button class="btn btn-primary" (click)="navigateToRegister()">Register</button>
    
    </div>
  </div>
</header>
